<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="C:\temp\fallback-log.txt"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Extensions.AzureBlobStorage" />
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>


	<variables>
		<variable name="flatLayout" value="${longdate:universalTime=true} | ${level:uppercase=true} | ${logger:shortName=true} | ${aspnet-TraceIdentifier} | ${message} | ${exception:format=ToString,StackTrace}" />
	</variables>
	
	
	<targets async="true">
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}/logs/${shortdate}-ingestion.log"
				encoding="utf-8" layout="${flatLayout}"/>

		<target xsi:type="AzureBlobStorage"
				name="azureBlobStorage"
				layout="${flatLayout}"
				connectionString="DefaultEndpointsProtocol=https;AccountName=sapocapollon;AccountKey=JE8ZAgvEflXxT689ocVC/iAOCiX9OEWHgdKlYM9+0t17JkW+qE5eutr8djTH52+dodWHjBGqHru2+AStk/v8Uw==;EndpointSuffix=core.windows.net"
				container="full-doc-lna-log"
				blobName="${date:universalTime=true:format=yy-MM-dd}-lna-ingestion.log"/>
		<target name="logconsole" xsi:type="Console" layout="${flatLayout}"/>
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<!--logger name="Microsoft.*" finalMinLevel="Warn" -->
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" minlevel="Error" writeTo="logconsole, logfile, azureBlobStorage" />
	</rules>
</nlog>